Manifest.toml
examples/Manifest.toml
test/Manifest.toml
codeServ.sh
src/temp.jl
.vscode/settings.json
fw-julia.code-workspace
src/temp.txt
convergence.pdf
test/bug.jl
before.pdf
after.pdf
*.pdf
prof.txt
workspace.code-workspace
examples/test.jl
examples/*.json
docs/build/
lcg_expensive_data.json
examples/run-exa-tests.sh
examples/precompile_fw_clean_uniq.jl
examples/precompile_fw_clean.jl
examples/precompile_fw.jl
docs/src/examples/*.md
docs/src/examples/*.jl
cc/libloporacle.so
cc/*
docs/src/contributing.md
docs/src/index.md
.DS_Store
experiments/csv/Birkhoff/trajectory/
experiments/csv/IllConditionedQuadratic/trajectory/
experiments/csv/Nuclear/trajectory/
experiments/csv/OEDP_A/trajectory/
experiments/csv/OEDP_D/trajectory/
experiments/csv/Portfolio/trajectory/
experiments/csv/QuadraticProbSimplex/trajectory/
experiments/csv/Spectrahedron/trajectory/
experiments/csv/Vanilla/Spectrahedron/trajectory/
experiments/csv/Vanilla/Nuclear/trajectory/
