Manifest.toml
examples/Manifest.toml
test/Manifest.toml
codeServ.sh
src/temp.jl
.vscode/settings.json
fw-julia.code-workspace
src/temp.txt
convergence.pdf
test/bug.jl
before.pdf
after.pdf
*.pdf
prof.txt
workspace.code-workspace
examples/test.jl
examples/*.json
docs/build/
lcg_expensive_data.json
examples/run-exa-tests.sh
examples/precompile_fw_clean_uniq.jl
examples/precompile_fw_clean.jl
examples/precompile_fw.jl
docs/src/examples/*.md
docs/src/examples/*.jl
cc/libloporacle.so
cc/*
docs/src/contributing.md
docs/src/index.md
.DS_Store
experiments/csv/QuadraticProbSimplex/trajectory/LS_BACKTRACKING_AND_SECANT_10000_2.csv
experiments/csv/QuadraticProbSimplex/trajectory/LS_BACKTRACKING_AND_SECANT_10000_4.csv
experiments/csv/QuadraticProbSimplex/trajectory/LS_BACKTRACKING_AND_SECANT_10000_3.csv
experiments/csv/QuadraticProbSimplex/trajectory/LS_BACKTRACKING_AND_SECANT_10000_5.csv
experiments/csv/QuadraticProbSimplex/trajectory/LS_BACKTRACKING_AND_SECANT_10000_1.csv
experiments/csv/Nuclear/trajectory/LS_ADAPTIVE_AND_SECANT_10000_5.csv
experiments/csv/Nuclear/trajectory/LS_ADAPTIVE_AND_SECANT_10000_4.csv
experiments/csv/Nuclear/trajectory/LS_ADAPTIVE_10000_4.csv
experiments/csv/Nuclear/trajectory/LS_ADAPTIVE_10000_5.csv
experiments/csv/Nuclear/trajectory/LS_BACKTRACKING_AND_SECANT_10000_2.csv
experiments/csv/Nuclear/trajectory/LS_BACKTRACKING_AND_SECANT_10000_4.csv
experiments/csv/Nuclear/trajectory/LS_BACKTRACKING_AND_SECANT_10000_3.csv
experiments/csv/Nuclear/trajectory/LS_BACKTRACKING_AND_SECANT_10000_5.csv
experiments/csv/Nuclear/trajectory/LS_BACKTRACKING_AND_SECANT_10000_1.csv
experiments/csv/Portfolio/trajectory/LS_ADAPTIVE_1500_2.csv
experiments/csv/Portfolio/trajectory/LS_ADAPTIVE_AND_SECANT_800_1.csv
experiments/csv/Portfolio/trajectory/LS_ADAPTIVE_ZERO_AND_SECANT_1200_1.csv./experiments/csv/QuadraticProbSimplex/trajectory/LS_AGNOSTIC_10000_2.csv
./experiments/csv/QuadraticProbSimplex/trajectory/LS_MONOTONIC_10000_4.csv
./experiments/csv/QuadraticProbSimplex/trajectory/LS_MONOTONIC_10000_5.csv
./experiments/csv/QuadraticProbSimplex/trajectory/LS_AGNOSTIC_10000_5.csv
./experiments/csv/QuadraticProbSimplex/trajectory/LS_MONOTONIC_10000_3.csv
./experiments/csv/QuadraticProbSimplex/trajectory/LS_MONOTONIC_10000_1.csv
./experiments/csv/QuadraticProbSimplex/trajectory/LS_AGNOSTIC_10000_4.csv
./experiments/csv/QuadraticProbSimplex/trajectory/LS_BACKTRACKING_AND_SECANT_10000_2.csv
./experiments/csv/QuadraticProbSimplex/trajectory/LS_BACKTRACKING_AND_SECANT_10000_4.csv
./experiments/csv/QuadraticProbSimplex/trajectory/LS_AGNOSTIC_10000_3.csv
./experiments/csv/QuadraticProbSimplex/trajectory/LS_BACKTRACKING_AND_SECANT_10000_3.csv
./experiments/csv/QuadraticProbSimplex/trajectory/LS_BACKTRACKING_AND_SECANT_10000_5.csv
./experiments/csv/QuadraticProbSimplex/trajectory/LS_BACKTRACKING_AND_SECANT_10000_1.csv
./experiments/csv/QuadraticProbSimplex/trajectory/LS_AGNOSTIC_10000_1.csv
./experiments/csv/Portfolio/trajectory/LS_AGNOSTIC_1200_3.csv
./experiments/csv/Portfolio/trajectory/LS_AGNOSTIC_1200_2.csv
./experiments/csv/Portfolio/trajectory/LS_AGNOSTIC_800_3.csv
./experiments/csv/Portfolio/trajectory/LS_AGNOSTIC_1200_1.csv
./experiments/csv/Portfolio/trajectory/LS_AGNOSTIC_1200_4.csv
./experiments/csv/Portfolio/trajectory/LS_AGNOSTIC_800_2.csv
./experiments/csv/Portfolio/trajectory/LS_ADAPTIVE_ZERO_800_2.csv
./experiments/csv/Portfolio/trajectory/LS_AGNOSTIC_800_1.csv
./experiments/csv/Spectrahedron/trajectory/LS_MONOTONIC_10000_4.csv
./experiments/csv/Spectrahedron/trajectory/LS_MONOTONIC_10000_5.csv
./experiments/csv/Spectrahedron/trajectory/LS_MONOTONIC_10000_3.csv
./experiments/csv/Spectrahedron/trajectory/LS_MONOTONIC_10000_1.csv
./experiments/csv/Nuclear/trajectory/LS_BACKTRACKING_10000_4.csv
./experiments/csv/Nuclear/trajectory/LS_BACKTRACKING_10000_3.csv
./experiments/csv/Nuclear/trajectory/LS_AGNOSTIC_10000_2.csv
./experiments/csv/Nuclear/trajectory/LS_MONOTONIC_10000_4.csv
./experiments/csv/Nuclear/trajectory/LS_MONOTONIC_10000_2.csv
./experiments/csv/Nuclear/trajectory/LS_MONOTONIC_10000_5.csv
./experiments/csv/Nuclear/trajectory/LS_ADAPTIVE_AND_SECANT_10000_4.csv
./experiments/csv/Nuclear/trajectory/LS_AGNOSTIC_10000_5.csv
./experiments/csv/Nuclear/trajectory/LS_MONOTONIC_10000_3.csv
./experiments/csv/Nuclear/trajectory/LS_BACKTRACKING_10000_1.csv
./experiments/csv/Nuclear/trajectory/LS_MONOTONIC_10000_1.csv
./experiments/csv/Nuclear/trajectory/LS_AGNOSTIC_10000_4.csv
./experiments/csv/Nuclear/trajectory/LS_ADAPTIVE_10000_4.csv
./experiments/csv/Nuclear/trajectory/LS_BACKTRACKING_AND_SECANT_10000_2.csv
./experiments/csv/Nuclear/trajectory/LS_BACKTRACKING_AND_SECANT_10000_4.csv
./experiments/csv/Nuclear/trajectory/LS_AGNOSTIC_10000_3.csv
./experiments/csv/Nuclear/trajectory/LS_BACKTRACKING_10000_2.csv
./experiments/csv/Nuclear/trajectory/LS_BACKTRACKING_AND_SECANT_10000_3.csv
./experiments/csv/Nuclear/trajectory/LS_BACKTRACKING_AND_SECANT_10000_5.csv
./experiments/csv/Nuclear/trajectory/LS_BACKTRACKING_AND_SECANT_10000_1.csv
./experiments/csv/Nuclear/trajectory/LS_AGNOSTIC_10000_1.csv
./.git/objects/pack/pack-ad9cf0d0dcb7ff3f5e4fba7c62618a32a6060e4c.pack
./.git/objects/pack/pack-e44647a0082d15a35acf41a7eed285459c7ab5f0.pack
./.git/objects/pack/pack-7de841c8c2b179dff66242dc189259f66b9a853e.pack
./.git/objects/pack/pack-78e8682352a2c18526e98936ce4dfa2a4028e449.pack
./.git/objects/pack/pack-d84072eda2f32d51251fc5791323adc0643a2a47.pack
./.git/objects/pack/pack-22ad0218333fff57c2ac1f6bb0ecbf93878a3beb.pack
./.git/objects/pack/pack-cad8bfd5605a0136190193bb335fd5e0c1838647.pack
./.git/objects/pack/pack-eb1373929df91cdc2d14c985bd770ac18dc24425.pack
